{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["babel-plugin-styled-components", { "fileName": true, "displayName": true, "pure": true , "ssr": true, "preprocess": false }],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        
      },
      "extensions": [".js", ".ts", ".tsx"]
    }],
    ["@babel/plugin-transform-runtime", {
        "regenerator": true
    }]
  ]
}
