# nexus 공통계정 사용중 (공통계정 username, password 별도확인 필요)

# 참고용
# https://heropy.blog/2019/01/31/node-js-npm-module-publish/
# NPM에 모듈을 배포하기 위해서는 사용자 등록(회원가입) 및 로그인 - npm adduser or npm login
# $ npm adduser --registry https://저장소URL/repository/npm-private/
# Username: 
# Password:
# Email:  

# _auth 값 생성  
# $ echo -n 'Username:Password' | openssl base64

# https://docs.npmjs.com/cli/v6/using-npm/config
# 기본 배포 URL값 : "http://registry.npmjs.org/"
#registry=http://registry.npmjs.org/
registry=https://i-nexus.apdigit.tech/repository/npm-private/
email=yeol@amorepacific.com
always-auth=true
_auth=dGVhbS1kc2R0OjEyZWx3bHhqZiMk